body {
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Da 2', cursive;
    font-size: 17px;
}

.owl-carousel .item {
    /* border: 1px solid black; */
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    ;
}

.owl-next {
    float: right;
}

.owl-prev {
    float: left;
}

.owl-prev span {
    font-size: 24px;
    font-weight: bold;
}

.owl-next span {
    font-size: 24px;
    font-weight: bold;
}


/* ----------------------------------document ------------------------*/

.price {
    font-size: 75px;
    font-weight: bold;
    color: red;
}

.logo1 img {
    height: 40px;
    /* border: 2px solid red; */
}

.h1 {
    text-decoration: none;
}

.card {
    text-align: center;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 12px 14px 22px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 12px 14px 22px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 12px 14px 22px 2px rgba(0, 0, 0, 0.75);
    margin-bottom: 100px;
}


/* ----------------------slider------------ */

.carousel-item {
    height: 100vh;
}

.carousel-caption {
    position: absolute;
    top: 30%;
    text-transform: uppercase;
    width: 100%;
    right: 0;
    left: 0;
    color: #d38312;
}

.carousel-caption h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: 1rem 1rem .8rem black;
    padding-bottom: 1rem;
}

.carousel-caption h3 {
    font-size: 2rem;
    text-shadow: 1rem 1rem .5rem black;
    padding-bottom: 1.6rem;
}